## Carga de librerías necesarias para el procesamiento del dataset

In [1]:
#Se importan las librerias a utilizar

import pandas as pd

## Análisisdel dataset

### Lectura del archivo de datos

In [2]:
#Lectura del dataset

academicos = pd.read_csv('../datasets/datos_academicos.csv', ',', index_col='Unnamed: 0')
academicos.head(5)

,unidad_academica,carrera,nro_inscripcion,regular,cnt_readmisiones,calidad,fecha_ingreso_alumno,anio_plan_estudios
0,FCEQN,170,FCEQN-3342,S,0.0,A,02/28/2011,2005.0
1,FCEQN,102,FCEQN-5396,S,0.0,A,12/12/2010,2005.0
2,FCEQN,143,FCEQN-3162,S,0.0,A,03/07/2011,2008.0
3,FCEQN,106,FCEQN-5739,S,0.0,A,03/12/2011,2008.0
4,FCEQN,172,4683,S,0.0,A,03/15/2011,2005.0

### Registro de meta-datos del dataset

Se van a registrar:
* Los tipos de datos por atributo
* El rango de valores que presenta
* Algunas características de los valores

#### Se usa el método .info() para obtener datos crudos sobre los atributos del dataset y su contenido

In [3]:
#Vista de los tipos de datos y datos básicos

academicos.info()

print("-------------------------------------")
print(f"Cantidad de filas: {academicos.shape[0]}")
print(f"Cantidad de columnas: {academicos.shape[1]}")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2316 entries, 0 to 2315
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   unidad_academica      2316 non-null   object
 1   carrera               2314 non-null   object
 2   nro_inscripcion       2316 non-null   object
 3   regular               2305 non-null   object
 4   cnt_readmisiones      2305 non-null   float64
 5   calidad               2306 non-null   object
 6   fecha_ingreso_alumno  2311 non-null   object
 7   anio_plan_estudios    2310 non-null   float64
dtypes: float64(2), object(6)
memory usage: 162.8+ KB
-------------------------------------
Cantidad de filas: 2316
Cantidad de columnas: 8

#### Para conocer los valores únicos por atributo y su distribución se usan los métodos .unique() y .value_counts()

**.unique()**: lista las ocurrencias de valores únicos en el atributo  
**.value_counts()**: por cada valor del atributo muestra la cantidad de filas que registran tal valor

**Tipos nominales (string)**

In [4]:
#Vista de los valores únicos en los atributos de tipo string

print(f"Valores presentes en el atributo: {academicos['regular'].unique()} \n")

#Vista de la cantidad de ocurrencias de cada valor

print(f"Conteo de ocurrencias por valor: {academicos['regular'].value_counts()}")

Valores presentes en el atributo: ['S' 'N' nan 'X' 'T' 'SI' 'D']

Conteo de ocurrencias por valor: S     1908
N      388
D        4
X        3
T        1
SI       1
Name: regular, dtype: int64

**TO DO:** Completar para el resto de los atributos del mismo tipo

---

**Tipos numéricos**

In [7]:
#Vista de los valores únicos en los atributos de tipo numérico y obtención de estadísticas

print(f"Valores presentes en el atributo: {academicos['cnt_readmisiones'].unique()} \n")

#Vista de estadísticas del atributo

print(f"Estadísticas del atributo: \n{academicos['cnt_readmisiones'].agg(['min', 'max', 'mean', 'std', 'median'])}")

Valores presentes en el atributo: [ 0. nan  1.  2.  9. -2.  5. -1.]

Estadísticas del atributo:
min      -2.000000
max       9.000000
mean      0.028200
std       0.307012
median    0.000000
Name: cnt_readmisiones, dtype: float64

**TO DO:** Completar para el resto de los atributos del mismo tipo

---

### Registro del análisis

1. Evaluación de valores nulos (filas y columnas)
2. Evaluación de formato válido
3. Valores ajustados en rangos (ver anexos)
4. Claves únicas
5. Integridad referencial
6. Cumplimiento de reglas en valores

**(1) Valores nulos por filas**

In [5]:
#Se comienza por obtener la cantidad de filas por atributo en las que existen valores nulos

filas_nulas = academicos.shape[0] - academicos.dropna().shape[0]

print(f"Cantidad de filas que tienen valores nulos: {filas_nulas}")

Cantidad de filas que tienen valores nulos: 37

In [8]:
#Se obtiene la cantidad de valores nulos por fila para calcular el indicador

cantidad_columnas = academicos.shape[1]

def nulos_x_fila(fila):
    nulos = cantidad_columnas - fila.count() #Se calcula la cantidad de valores nulos en la fila
    umbral = 0.2 
    #Se evalua si se supera el umbral definido
    if (nulos > (cantidad_columnas * umbral)):
        return 'err'
    else:
        return 'ok'

academicos['completitudF'] = academicos.apply(lambda row: nulos_x_fila(row), axis=1)

# Se obtiene la cantidad de errores detectados

#academicos['completitudF'].value_counts()

# Se visualizan las tuplas con errores

#academicos[academicos.completitudF == 'err']
filas_err = academicos[academicos.completitudF == 'err'].shape[0]

print(f"Cantidad de filas que tienen valores nulos más allá del umbral definido: {filas_err}")

Cantidad de filas que tienen valores nulos más allá del umbral definido: 5

**(1) Valores nulos por columnas**

In [9]:
#Como segundo paso se pasa a obtener la cantidad de nulos por cada columna

nulos_x_columna = academicos.isna().sum()

print(f"Cantidad de filas que tienen valores nulos por atributo: {nulos_x_columna}")

Cantidad de filas que tienen valores nulos por atributo: unidad_academica         0
carrera                  2
nro_inscripcion          0
regular                 11
cnt_readmisiones        11
calidad                 10
fecha_ingreso_alumno     5
anio_plan_estudios       6
completitudF             0
dtype: int64

In [10]:
#Para poder observar el detalle por filas de las columnas con datos nulos

academicos[academicos['carrera'].isnull()]

,unidad_academica,carrera,nro_inscripcion,regular,cnt_readmisiones,calidad,fecha_ingreso_alumno,anio_plan_estudios,completitudF
853,FCEQN,NaN,FCEQN-7254,S,NaN,NaN,04/06/2013,2007.0,err
854,FCEQN,NaN,FCEQN-6932,S,NaN,NaN,12/12/2012,2011.0,err

**(2) Formato válido en atributo nro_inscripcion**

In [11]:
#Verificar formato válido - atributo:nro_inscripcion -
#El formato debería ser FCEQN-#### (el número de matrícula del alumno)
#Se puede usar una evaluación de correspondencia con una expresión regular

academicos['nueva'] = academicos['nro_inscripcion'].astype(str).str.match("\D{5}.\d{1,4}$")

#A partir de esto se podría verificar a través de una nueva columna auxiliar

academicos[academicos.nueva == False]

# Se filtran las filas con estos valores erróneos

conteo = academicos[academicos.nueva == False]

#Y se cuenta la cantidad de errores de formateo

errores_formato = conteo.shape[0]
print(f"Cantidad de filas con errores de formato en atributos: {errores_formato}")

Cantidad de filas con errores de formato en atributos: 71

**(3) Valores en rangos predefinidos**

In [16]:
#Verificar que los valores de cada atributo se encuentren dentro de los listados anexos

#Atributo: regular

valores = pd.value_counts(academicos['regular']) #Conteo de ocurrencias por valor (not-null)
#valores

#academicos[academicos.regular.isna()] #Para visualizar las tuplas con valores nulos
cantidad_nulos = len(academicos.regular) - academicos.regular.count() #Conteo de nulos

#cantidad_nulos #Impresión de la cantidad de nulos

valores_validos = ['S', 'N'] #Se definen los valores validos según el anexo

#Se identifica y cuenta a los valores que no cumplen esa condición (incluye los nulos)

resultado = academicos[academicos.regular.isin(valores_validos) == False] 
resultado

regular_valores_fuera_rango = resultado.shape[0]
print(f"Cantidad de filas con valores fuera de rango en atributo regular: {regular_valores_fuera_rango}")

Cantidad de filas con valores fuera de rango en atributo regular: 20

In [19]:
#Atributo: cnt_readmisiones
valores = pd.value_counts(academicos['cnt_readmisiones']) #Conteo de ocurrencias por valor (not-null)

#academicos[academicos.cnt_readmisiones.isna()] #Para visualizar las tuplas con valores nulos
cantidad_nulos = len(academicos.cnt_readmisiones) - academicos.cnt_readmisiones.count() #Conteo de nulos

#cantidad_nulos #Impresión de la cantidad de nulos

#Se identifica y cuenta a los valores que no cumplen las condiciones vistas
menores = academicos[academicos.cnt_readmisiones < 0] 
menor_cero = menores.shape[0]

mayores = academicos[academicos.cnt_readmisiones > 5] 
mayor_cero = mayores.shape[0]

readmisiones_valores_fuera_rango = cantidad_nulos + menor_cero + mayor_cero
print(f"Cantidad de filas con valores fuera de rango en atributo cnt_readmisiones: {readmisiones_valores_fuera_rango}")

#menores
#mayores

Cantidad de filas con valores fuera de rango en atributo cnt_readmisiones: 14

,unidad_academica,carrera,nro_inscripcion,regular,cnt_readmisiones,calidad,fecha_ingreso_alumno,anio_plan_estudios,completitudF,nueva
1961,FCEQN,172,FCEQN-8236,S,-2.0,G,12/02/2030,2005.0,ok,True
2315,FCEQN,102,FCEQN-8819,S,-1.0,A,02/07/2015,2011.0,ok,True

**(4) Claves únicas**

In [20]:
#Para revisar problemas de claves duplicadas

#Se obtiene el valor de la cantidad de filas actual

cant_antes = len(academicos) 
#cant_antes

#Se ordena el dataset según el atributo que se desee evaluar (requerido para el paso siguiente)

academicos.sort_values("nro_inscripcion", inplace=True)


#Se detectan y eliminan los duplicados en un atributo dejando la última ocurrencia

academicos.drop_duplicates(subset ="nro_inscripcion", keep = 'last', inplace = True)


#Se obtiene el valor posterior a la operación
cant_despues = len(academicos)


#Se imprimen ambos valores
print(f"Antes del análisis de duplicados: {cant_antes} - Despues del filtrado de duplicados: {cant_despues}")

Antes del análisis de duplicados: 2316 - Despues del filtrado de duplicados: 2316

In [21]:
#Para verificar integridad referencial se tienen que importar los otros datasets

#Lectura del dataset de datos_censales

censales = pd.read_csv('../datasets/datos_censales.csv', ',', index_col='Unnamed: 0')
censales.head(5)

,ua,insc,estado_civil,sit_lab_alumno,tipo_res_nuevo,sit_lab_padres,estudios_padres
0,FCEQN,6960,1.0,NC,-1.0,-1,-1.0
1,FCEQN,FCEQN-1555,1.0,NC,-1.0,-1,-1.0
2,FCEQN,FCEQN-1681,1.0,No,1.0,3,3.0
3,FCEQN,5689,3.0,NC,-1.0,-1,-1.0
4,FCEQN,FCEQN-1810,1.0,NC,-1.0,-1,-1.0

In [22]:
#Lectura del dataset de datos_persona

persona = pd.read_csv('../datasets/datos_personas.csv', ',', index_col='Unnamed: 0')
persona.head(5)

,unidad_academica,nro_inscripcion,sexo,nacionalidad,fecha_nac_alumno,fecha_egr_sec
0,FCEQN,FCEQN-877,2,1.0,1987,2004
1,FCEQN,FCEQN-1294,2,1.0,1987,2011
2,FCEQN,FCEQN-1351,1,1.0,1987,2011
3,FCEQN,FCEQN-1363,2,1.0,1987,2011
4,FCEQN,FCEQN-1367,2,1.0,1987,2011

In [23]:
#Antes de probar la integración se debe verificar la unicidad de las claves en los otros datasets 
#Se obtiene el valor de la cantidad de filas actual

cant_antes = len(censales) 

#Se ordena el dataset según el atributo que se desee evaluar (requerido para el paso siguiente)

censales.sort_values("insc", inplace=True)

#Se detectan y eliminan los duplicados en un atributo dejando la última ocurrencia

censales.drop_duplicates(subset ="insc", keep = 'last', inplace = True)

#Se obtiene el valor posterior a la operación

cant_despues = len(censales)

#Se imprimen ambos valores

print(f"Antes del análisis de duplicados: {cant_antes} - Despues del filtrado de duplicados: {cant_despues}")

Antes del análisis de duplicados: 3875 - Despues del filtrado de duplicados: 3875

In [24]:
#Antes de probar la integración se debe verificar la unicidad de las claves en los otros datasets 
#Se obtiene el valor de la cantidad de filas actual

cant_antes = len(persona) 

#Se ordena el dataset según el atributo que se desee evaluar (requerido para el paso siguiente)

persona.sort_values("nro_inscripcion", inplace=True)

#Se detectan y eliminan los duplicados en un atributo dejando la última ocurrencia

persona.drop_duplicates(subset ="nro_inscripcion", keep = 'last', inplace = True)

#Se obtiene el valor posterior a la operación

cant_despues = len(persona)

#Se imprimen ambos valores

print(f"Antes del análisis de duplicados: {cant_antes} - Despues del filtrado de duplicados: {cant_despues}")

Antes del análisis de duplicados: 3875 - Despues del filtrado de duplicados: 3875

**(5) Integridad referencial**

In [26]:
#Las uniones se hacen de a pares - revisar nombres de atributos
semi_completo = pd.merge(persona, academicos, on='nro_inscripcion', how='inner')
semi_completo.shape[0]

#Para verificar se puede ejecutar
semi_completo.head(5)

,unidad_academica_x,nro_inscripcion,sexo,nacionalidad,fecha_nac_alumno,fecha_egr_sec,unidad_academica_y,carrera,regular,cnt_readmisiones,calidad,fecha_ingreso_alumno,anio_plan_estudios,completitudF,nueva
0,FCEQN,1024,2,1.0,1981,2011,FCEQN,114,S,0.0,A,05/10/2011,2005.0,ok,False
1,FCEQN,1041,2,1.0,1979,2011,FCEQN,170,N,0.0,A,03/30/2013,2005.0,ok,False
2,FCEQN,1057,2,1.0,1979,2011,FCEQN,104,S,1.0,A,02/19/2003,2011.0,ok,False
3,FCEQN,128,2,1.0,1964,2011,FCEQN,111,S,0.0,A,05/05/2015,2014.0,ok,False
4,FCEQN,1382,2,1.0,1976,2011,FCEQN,102,S,2.0,A,02/10/1998,2005.0,ok,False

In [27]:
cambios = {'insc' : 'nro_inscripcion'}
censales.rename(columns=cambios, inplace=True)
censales.head(1)

,ua,nro_inscripcion,estado_civil,sit_lab_alumno,tipo_res_nuevo,sit_lab_padres,estudios_padres
41,FCEQN,1024,1.0,NC,-1.0,-1,-1.0

In [31]:
#Las uniones se hacen de a pares - revisar nombres de atributos
completo = pd.merge(censales, semi_completo, on='nro_inscripcion', how='inner')
completo.shape[0]

#Para verificar se puede ejecutar

completo.head(5)

#Se obtiene el valor para el indicador

cant_problemas_a = academicos.shape[0] - completo.shape[0]
cant_problemas_ot = censales.shape[0] - completo.shape[0]
print(f"Casos de problemas de integridad referencial (vista desde académicos): {cant_problemas_a}")
print(f"Casos de problemas de integridad referencial (vista desde censales): {cant_problemas_ot}")

Casos de problemas de integridad referencial (vista desde académicos): 0
Casos de problemas de integridad referencial (vista desde censales): 1559

**(6) Reglas en valores**

In [37]:
#Finalmente (última verificación) se revisan cuestiones de aplicación de reglas en los valores del nuevo dataset

#Regla: año egreso secundario no puede ser mayor a año de ingreso a la carrera

#Muestra

nro_fila = 1559
completo.iloc[nro_fila]

fecha_i = completo.fecha_ingreso_alumno.iloc[nro_fila]
fecha_i
ingreso = int(fecha_i[-4:])
ingreso
egreso = int(completo.fecha_egr_sec.iloc[nro_fila])
egreso

diferencia = ingreso - egreso

print(f" Ingreso a carrera: {ingreso} \n Egreso nivel medio: {egreso}\n Diferencia: {diferencia}")

 Ingreso a carrera: 1980
 Egreso nivel medio: 2014
 Diferencia: -34

In [41]:
#Se puede definir una función para aplicar los cálculos
def reglaAnioSecundario(row):
    #fecha_ingreso_alumno es tipo date
    anio_ingreso = int(row['fecha_ingreso_alumno'][-4:]) #Se aisla el año
    
    anio_egreso_secundaria = int(row['fecha_egr_sec'])
    diferencia = anio_ingreso - anio_egreso_secundaria
    if (diferencia < 0):
        #Es un error ya que no podría entrar al nivel superior sin haber finalizado en el nivel medio
        return 'err'
    else:
        return 'ok'

#Se verifican los valores presentes

#completo.fecha_ingreso_alumno.value_counts()
#completo.fecha_egr_sec.value_counts()


#Se revisan los valores nulos en cada atributo

#completo[completo['fecha_ingreso_alumno'].isnull()]
#completo[completo['fecha_egr_sec'].isnull()]

#Si fuera necesario completar los nulos, se podría hacer con el valor con más ocurrencias (habiendo otras opciones)
completo['fecha_ingreso_alumno'].fillna('12/12/2010',inplace=True)

#Se aplica la función para todos los elementos del dataset
completo['diferencia_nivel'] = completo.apply(lambda row: reglaAnioSecundario(row), axis=1)

#Se verifica la cantidad de elementos
aux = completo[completo.diferencia_nivel == 'err']
aux

cant_problemas = aux.shape[0]
print(f"Casos de problemas de valores por reglas: {cant_problemas}")

Casos de problemas de valores por reglas: 318